:root {
  --light: #808080;
  --dark: #696969;
  --blue: #ADD8E6;
  --blue2: #89CFF0;
  --default: #ffffff;
}

html, body {
  margin:0;
  padding:0;
}

.title {
  padding: 15px;
  background-color: var(--blue2);
  color: var(--default);
  text-align: center;
  margin: 0px;
}

.nav {
  width: 100%;
  margin-top: 0px;
  text-align: center;
}

.nav img {
  width: 100%;
  height: auto;
}

.buttons {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 2px solid lightblue;
  background-color: none;
  color: var(--light);
  padding: 10px 20px;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
  transition: 0.8s;
}

.btn:hover {
  color: lightblue;
}
  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 150px;
}

li a{
  color: #fff;
  text-decoration: none;

}

li a:hover{
  color: #c1c1c1;
  text-decoration: none;

}

.scroll-spy {

}

.overview {
  padding: 20px;
}

.overview-header {
  text-align: center;
  color: var(--light);
  padding: 20px;
}

.early-life {
  padding: 20px;
}

.early-life-header {
  text-align: center;
  color: var(--light);
  padding: 20px;
}

.professional-life {
  padding: 20px;
}

.professional-life-header {
  text-align: center;
  color: var(--light);
  padding: 20px;
}

.personal-life {
  padding: 20px;
}

.personal-life-header {
  text-align: center;
  color: var(--light);
  padding: 20px;
}

.works-of-art {
  padding: 20px;
}

.works-of-art-header {
  text-align: center;
  color: var(--light);
  padding: 20px;
}

.old-age-and-death {
  padding: 20px;
}

.old-age-and-death-header {
  text-align: center;
  color: var(--light);
  padding: 20px;
}