* {
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: black;
  color: white;
}

:root {
  --light: #808080;
  --dark: #696969;
  --blue: #ADD8E6;
  --blue2: #89CFF0;
  --default: #ffffff;
}

nav { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--blue2);
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.4s ease;
}

nav ul li a.active{
  background-color: var(--light);
}

html, body {
  margin:0;
  padding:0;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  height: 100%;
}

.title {
  padding: 15px;
  background-color: var(--blue2);
  color: var(--default);
  text-align: center;
  margin: 0px;
}

.nav {
  width: 100%;
  margin-top: 0px;
  text-align: center;
}

.nav img {
  width: 100%;
  height: auto;
}

.buttons {
  position: absolute;
  left: 0%;
  top: 45%;
  width: 100%;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 2px solid lightblue;
  background-color: none;
  color: var(--light);
  padding: 10px 20px;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  margin: 15px;
  cursor: pointer;
  transition: 0.8s;
}

.btn:hover {
  color: lightblue;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

li a{
  color: #fff;
  text-decoration: none;
}

li a:hover{
  color: #c1c1c1;
  text-decoration: none;
}

.overview {
  padding: 0px;
}

.overview-header {
  text-align: center;
  color: var(--light);
  padding: 10px;
}

.overview-para {
  margin: 50px;
}

.early-life {
  padding: 0px;
}

.early-life-header {
  text-align: center;
  color: var(--light);
  padding: 10px;
}

.early-life-para {
  margin: 50px;
}

.professional-life {
  padding: 0px;
}

.professional-life-header {
  text-align: center;
  color: var(--light);
  padding: 10px;
}

.professional-life-para {
  margin: 50px;
}

.personal-life {
  padding: 0px;
}

.personal-life-header {
  text-align: center;
  color: var(--light);
  padding: 10px;
}

.personal-life-para {
  margin: 50px;
}

.works-of-art {
  padding: 0px;
}

.works-of-art-header {
  text-align: center;
  color: var(--light);
  padding: 10px;
}

.carousel-container {
  width:  35%;
  margin: auto;
  border: 5px solid var(--blue);
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
}

#prevBtn {
  position: absolute;
  top: 46.5%;
  z-index: 999;
  left: 5%;
  font-size: 40px;
  color: var(--blue);
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 46.5%;
  z-index: 999;
  right: 5%;
  font-size: 40px;
  color: var(--blue);
  cursor: pointer;
}

.old-age-and-death {
  padding: 0px;
}

.old-age-and-death-header {
  text-align: center;
  color: var(--light);
  padding: 10px;
}

.old-age-and-death-para {
  margin: 50px;
}

.new-content {
  height: 100%;
	display: grid;
	place-content: center;
}